@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-color: 0 50%;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #d4cfcfd8;
}
header {
  margin-top: 20px;
}

main {
  width: 85%;
  margin: 0 auto;
}
a {
  color: #ffffffd9;
  text-decoration: none;
}

a:hover {
  color: green;
}

header .menu-nav {
  align-items: center;
  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, #020024, #160117dd, #230c45ca, #0a4956)
    no-repeat;
  background-size: 300% 300%;
  border-radius: 12px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}
ul .menu-nav-item {
  display: flex;
  font-size: 32px;
  list-style: none;
  margin-left: 40px;
  padding: 10px;
  text-decoration: none;
}

img {
  border-radius: 50%;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  width: 500px;
}

main .about-me {
  /* border: 1px solid black; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  padding: 10px;
  text-align: center;
}

main .description-me {
  margin-top: 20px;
}
